.message-edit {
  position: fixed;
  width: 30%;
  min-width: 300px;
  max-width: 500px;
  height: 250px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 10px;
}

.message-edit .edit-wrapper {
  width: 100%;
  height: 100%;
}

.message-edit .text {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 70%;
  resize: none;
  border: 1px solid gray;
  /* margin-bottom: 20px; */
  border-radius: 5px;
}

.btn-save {
  margin-right: 20px;
}
