.message-item {
  padding: 20px;
  display: flex;
  width: 60%;
  margin: 5px;
  border-radius: 10px;
  background-color: white;
}

.message-item.current {
  background-color: paleturquoise;
  align-self: flex-end;
  padding-left: 50px;
}

.avatar-wrapper {
  width: 70px;
  margin-right: 40px;
}

.current .avatar-wrapper {
  display: none;
}

.avatar {
  width: 100%;
}

.message-wrapper {
  width: 100%;
}

.message-header {
  display: flex;
}

.message-author {
  font-weight: bold;
  margin-right: 10px;
}

.message-status {
  display: flex;
  justify-content: flex-end;
}

.message-status .like {
  margin-right: auto;
}

.message-status .edit {
  margin-right: 20px;
}

.message-status .like,
.message-status .edit,
.message-status .delete,
.message-date {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.message-item.current .like,
.message-item:not(.current) .edit,
.message-item:not(.current) .delete {
  display: none;
}

.fa-heart,
.fa-pencil-alt,
.fa-trash-alt {
  margin-right: 3px;
}

.message-status .edit {
  margin-right: 10px;
}

.message-text {
  margin: 10px 0;
}

.break-wrapper {
  width: 100%;
  text-align: right;
}

.break-wrapper .message-item.current {
  display: inline-block;
}

.break-wrapper .message-item {
  text-align: left;
}
